.files-uploader-container {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 5px;
    width: 200px;
    height: 250px;
    margin-bottom: 10px;
    color: black;
    
}

.files-uploader-button {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: medium;

    /* background-color: #009475; */
    background-color: #ff0072;
}
