#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.custom-node {
  height: 40px;
  width: 100px;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: whitesmoke;
  border-color: black;
}

.custom-node label {
  display: block;
  color: black;
  font-size: 12px;
}